@model IEnumerable<Sales.Application.Models.Product.ProductGetModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-2">List Of Products</h1>

<p class="text-end">
    <a asp-action="Create" class= "btn btn-primary">Create New Product </a>
</p>
<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
           
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-danger", @title = "Edit" })
                    |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-info", @title = "Details" })

                </td>
        </tr>
}
    </tbody>
</table>
