@model IEnumerable<Sales.Application.Models.TDocumentVentas.TDocumentVentaGetModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-3">List TDocumentVentas</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-primary">Create New TdocumentVenta</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.TDocumentVentaId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsActivo)
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.TDocumentVentaId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsActivo)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TDocumentVentaId }, new { @class = "btn btn-danger", @title = "Edit" })
                |
                @Html.ActionLink("Details", "Details", new { id = item.TDocumentVentaId }, new { @class = "btn btn-info", @title = "Details" })

             </td>
        </tr>
}
    </tbody>
</table>
