@model IEnumerable<Sales.Application.Models.TDocumentVentas.TDocumentVentaGetModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List TDocumentVentas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsActivo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsActivo)
            </td>
  
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.TDocumentVentaId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.TDocumentVentaId }) |
            </td>
        </tr>
}
    </tbody>
</table>
